body {
  font-family: Georgia;
  text-align: justify;
  text-justify: inter-word;
  background: #c2d6d2;
}

.container1 {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1050px;
  box-sizing:border-box;
}

.title {
  text-align: center;
}

.title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 2px solid black;
}

.tiny{
  font-size: 75%;
}

.bigbox1 {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 400px;
  border: solid black 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

.bigbox1 li {
  font-weight:bold;
  background: rgba(201, 145, 62, 0.164); 
}

.bigbox1 p {
  border:solid rgba(0, 0, 0, 0.226) 1px;
  padding: 5px;
}

.bigbox1 h3 {
  text-decoration: underline;
}

.bigbox2{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid black 2px;
}

.bigbox2 li {
  font-weight:bold;
  background: rgba(201, 145, 62, 0.164);
}

.bigbox2 h3 {
  text-decoration: underline;
}

.highlight1 {
  text-decoration: underline #aa6728;
}

.highlight2 {
  text-decoration: underline #c04fba;
}

.highlight3 {
  text-decoration: underline #d0e038;
}