body {
  font-family: Georgia;
  text-align: justify;
  text-justify: inter-word;
  background: #c2d6d2;
}

.container1 {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1050px;
  box-sizing:border-box;
}

.title {
  text-align: center;
  display: block;
}

.title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 2px solid black;
}

.tiny{
  font-size: 75%;
}

.dot {
  border-radius: 50% 50% 0 0;
  display: inline-block;
  background-color: rgba(224, 175, 184, 0.993);
  border: black 2px solid;
}

.bigbox1 {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 400px;
  border: solid black 2px;
  border-radius: 10% 0 0 0;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
  background-color:rgba(224, 175, 184, 0.993);
}

.bigbox1 li {
  font-weight:bold;
  background: rgba(201, 145, 62, 0.164); 
}

.bigbox1 p {
  border:solid rgba(0, 0, 0, 0.226) 1px;
  padding: 5px;
}

.bigbox1 h3 {
  text-decoration: underline;
  text-align: center;
}

.bigbox1 a:link, a:visited {
  color:rgb(54, 97, 153);
}

.margin-enhancement {
  margin-bottom: 15px;
}
.bigbox2{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
  border: solid black 2px;
  border-radius: 10% 10% 10% 10%;
  background-color:rgba(224, 175, 184, 0.993);
}

.bigbox2 li {
  font-weight:bold;
  background: rgba(201, 145, 62, 0.164);
}

.bigbox2 h3 {
  text-decoration: underline;
  text-align: center;
}

.bigbox2 a:link, a:visited {
  color:rgb(54, 97, 153);
}

.floatleft {
  float: left;
  width: auto;
  height: 100px;
  Margin-right: 15px;
}

.floatright {
  float: right;
  width: auto;
  height: 100px;
  margin-left: 15px;
}

.highlight1 {
  text-decoration: underline #aa6728;
}

.highlight2 {
  text-decoration: underline #c04fba;
}

.highlight3 {
  text-decoration: underline #e4b431;
}